/* Default Styling */

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
button,
input {
  font-family: "ADLaM Display";
}

main {
  height: 100dvh;
  width: 100dvw;
  max-width: 500px;
}

body {
  background-color: #cfd6ea;
  display: flex;
  flex: column;
  justify-content: center;
  
}

/* Header Section */

header {
  font-family: "Bangers";
  font-size: clamp(1rem, 5vw, 1.7rem);
  color: #ffcd08;
  -webkit-text-stroke: 0.3px #2c5e8d;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  word-break: normal;
  overflow-wrap: break-word;
  text-align: center;
}

/* Score Section */
#score {
  font-size: clamp(1rem, 5vw, 1.5rem);
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

/* Pokemon Picture Section */

#pokepicture {
  position: relative;
  aspect-ratio: 1/1;
  width: 60%;
  max-width: 475px;
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
  transition: opacity 0.5s ease;
}

#pokepicture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s ease;
}

#pokesprite {
  filter: brightness(0);
  opacity: 0;
  transition: opacity 0.5s ease, filter 0.5s ease;
  display: block;
}

#pokesprite:hover {
  transform: scale(1.06);
  transition: transform 0.2s ease;
}

#pokesprite:active {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

/* Correct Name Section */
#correctName {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(2em, 5vw, 3rem);
  -webkit-text-stroke: clamp(1px, 0.05em, 2.5px);
  -webkit-text-stroke-color: black;
  word-break: normal;
  overflow-wrap: break-word;
  text-align: center;
}

/* Hint Section */

#hints {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.5rem, 5vw, 1.4rem);
  word-break: normal;
  overflow-wrap: break-word;
  text-align: center;
}

#hints p {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Input & Buttons Section */

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  gap: 8px;
  width: 80%;
}

input,
button {
  all: unset;
}

#guess,
button {
  font-size: clamp(1.7rem, 2vw, 3rem);
  background-color: #b8c3e0;
  border: 4px solid #8e9fcd;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  transition: transform 0.2s ease;
}

#guessForm {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#buttons {
  display: flex;
  gap: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#guessForm input:hover,
#guessForm input:focus {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

#buttons button:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

#buttons button:active {
  transform: scale(0.98);
  transition: transform 0.2s ease;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-wrapper .checkmark,
.input-wrapper .xmark {
  position: absolute;
  right: 10px;
  transform: scale(0);
  pointer-events: none;
  font-size: 2em;
  opacity: 0;
}

.input-wrapper .checkmark {
  color: green;
}

.input-wrapper .xmark {
  color: red;
}

/* Phone Sizes */

@media (max-width: 600px) {
  /* Header Section */
  header h1 {
    font-size: clamp(1rem, 11.5vw, 3rem);
  }

  /* Image Section */
  #pokepicture {
    width: 80%;
  }

  #pokesprite {
    -webkit-touch-callout: none; /* Prevents long press context menu on iOS Safari */
    -webkit-user-select: none; /* Prevents text/image selection */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Name Section */
  #correctName {
    font-size: clamp(1rem, 11.5vw, 2rem);
    word-wrap: break-word;
  }

  /* Hints Section */
  #hints {
    font-size: clamp(1.2rem, 5vw, 3rem);
    word-wrap: break-word;
  }

  /* Inputs Section */
  #inputs,
  #buttons {
    width: 90vw;
    height: 10vh;
  }

  .input-wrapper .checkmark,
  .input-wrapper .xmark {
    font-size: 1.5em;
  }

  #guess,
  #buttons button {
    font-size: clamp(1.3rem, 5vw, 30rem);
  }
}
